body {
    margin: 16px; 
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    color: #222;
}   


a:link {
  font-size: 40px;
  text-decoration: none; 
  color: #FFFFFF;
  opacity: 0;
}

a:active {
  font-size: 40px;
  text-decoration: none; 
  color: #FFFFFF;
  opacity: 0;
}

a:visited {
  font-size: 40px;
  text-decoration: none; 
  color: #FFFFFF;
  opacity: 0;
}

a:hover {
  font-size: 40px;
  text-decoration: none; 
  color: #FFFFFF;
  opacity: 1;
}