body {
    background-image: url('images/7k7k.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 16px; 
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    color: #222;
    display: flex; 
    align-items: center;
    justify-content: center; 
    height: 200vh; 
}   

a {
    position: relative; /* Set relative positioning */
    z-index: 10; /* High enough to be above GIFs */
}

a:link {
  font-size: 40px;
  text-decoration: none; 
  color: #FFFFFF;
  opacity: 0;
}

a:active {
  font-size: 40px;
  text-decoration: none; 
  color: #FFFFFF;
  opacity: 0;
}

a:visited {
  font-size: 40px;
  text-decoration: none; 
  color: #FFFFFF;
  opacity: 0;
}

a:hover {
  font-size: 40px;
  text-decoration: none; 
  color: #000;
  opacity: 1;
}

.image-container {
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 100%; 
}

.gif {
    position: absolute;
    transition: all 0.5s;
}