body {
    background-image: url('../images/7k7k.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 16px; 
    display: flex; 
    align-items: center;
    justify-content: center; 
    height: 200vh; 
}   

a {
    position: relative; 
    z-index: 10; 
}

.image-container {
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 100%; 
}

.gif {
    position: absolute;
    transition: all 0.5s;
}