body {
    width: 100%;
    height: 100vh;
    background-color: black;
}  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

marquee {
    height: 100vh;
    width: 100%;
}

img {
    width: 800px;
    height: auto;
}