body {
  background-image: url('../images/chinapress.png');
  background-repeat: repeat;
  background-size: contain;
  height: 400vh; 
  overflow-y: auto;    
}   

.verse {
  font-size: 20px;
}

a:link {
  font-size: 20px;
  text-decoration: none; 
  color: black;
}

a:active {
  font-size: 20px;
  text-decoration: none; 
  color: black;
}

a:visited {
  font-size: 20px;
  text-decoration: none; 
  color: black;
}

a:hover {
  font-size: 20px;
  text-decoration: underline; 
  color: rgb(255, 0, 255);
  opacity: 1;
}

.censor {
  background-color: black;
  color: black;
}

.censor:hover {
  background-color: black;
  color: rgb(255, 0, 255);
}

