body {
  background-image: url('../images/error404.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}   

a:link {
  font-size: 40px;
  text-decoration: none; 
  color: #FF2400;
}

a:active {
  font-size: 40px;
  text-decoration: none; 
  color: #FF2400;
}

a:visited {
  font-size: 40px;
  text-decoration: none; 
  color: #FF2400;
}

a:hover {
  font-size: 40px;
  text-decoration: none; 
  color: #00FFFF;
}
